body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 40px;
  line-height: 1;
  padding-top: 10px;
  font-weight: bold;
}

h2,
h3 {
  line-height: 1;
  font-size: 20px;
}

.transparent-box {
  margin: 20px auto;
  padding: 30px;
  opacity: 0.8;
  border: 2px solid white;
  max-width: 700px;
  border-radius: 10px;
  background-color: rgba(96, 125, 139, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 20px auto;
  max-width: 700px;
}

.heading-wrapper {
  margin: 5px auto;
  margin-bottom: 0;
}

form.search-form {
  margin: 15px;
  display: flex;
  flex-flow: row nowrap;
}

input.search-box {
  border-radius: 10px;
  max-width: 500px;
  position: relative;
  left: 10px;
}

input.btn-light {
  border-radius: 10px;
  color: #536b78;
  max-width: 60px;
  position: relative;
  right: 10px;
}

.header,
.sub-heading {
  text-align: left;
  color: whitesmoke;
  font-weight: bold;
}

.sub-heading {
  margin: 10px 20px;
  text-align: left;
  color: whitesmoke;
  margin-top: 0;
  position: relative;
  top: -5px;
  left: -5px;
}

.row-wrapper {
  margin: 20px 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.main-icon img {
  max-width: 120px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main-temp-col {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.current-temp {
  font-size: 70px;
  color: #f8efd4;
}

.units {
  color: #f8efd4;
  position: relative;
  top: -15px;
}

.special-temp-info {
  list-style: none;
  color: #f8efd4;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 auto;
}

.forecast-wrapper {
  background: whitesmoke;
  opacity: 0.8;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
}

.hourly-forecast {
  text-align: center;
  font-size: 16px;
}

.forecast-icons img {
  max-width: 70px;
  margin: 20px auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.highs-lows {
  font-size: 13px;
  text-align: center;
}

small.open-source {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.units .active {
  color: whitesmoke;
  cursor: default;
  font-weight: bold;
  opacity: 1;
}

.units .active:hover {
  text-decoration: none;
}

.units a {
  font-weight: bold;
  color: whitesmoke;
  opacity: 0.7;
}

@media (min-width: 768px) {
}
