body {
  font-family: "Open Sans", sans-serif;
}

div.transparent-box {
  opacity: 0.8;
  margin: 20px auto;
  padding: 30px;
  border: 2px solid white;
  max-width: 700px;
  border-radius: 10px;
  background-color: rgba(96, 125, 139, 0.5);
}

div.background {
  background-image: url("img-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  max-width: 700px;
}

.heading-wrapper {
  margin: 5px auto;
  margin-bottom: 0;
}

form.search-form {
  margin: 15px;
  display: flex;
  flex-flow: row nowrap;
}

div input.search-box {
  border-radius: 10px;
  max-width: 500px;
  position: relative;
  left: 10px;
}

div input.btn-light {
  border-radius: 10px;
  color: #536b78;
  max-width: 60px;
  position: relative;
  right: 10px;
}

.header {
  text-align: left;
  color: whitesmoke;
}

h1 {
  font-size: 40px;
  line-height: 1;
  padding-top: 10px;
  font-weight: bold;
}

.sub-heading {
  margin: 10px 20px;
  text-align: left;
  color: whitesmoke;
  margin-top: 0;
}

h2,
h3 {
  line-height: 1;
  font-size: 20px;
}

div.main-icon img {
  max-width: 120px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.current-temp {
  font-size: 70px;
  color: #f8efd4;
}

.units {
  color: #f8efd4;
  position: relative;
  top: -15px;
}

.main-temp {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.special-icons {
  list-style: none;
  color: #f8efd4;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 auto;
}

div.row-wrapper {
  margin: 10px 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

div.forecast-days {
  text-align: center;
}

div.forecast-icons img {
  max-width: 70px;
  margin: 20px auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

div.highs-lows {
  font-size: 13px;
  text-align: center;
}

div.forecast-wrapper {
  background: whitesmoke;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
}

small.open-source {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
